<footer>
  <div class='footer-container'>
    <div class='row'>
      <div class="column small-9">
        <h2>{{ site.title }}</h2>
        <ul class="social-media">
          <li><a href="http://www.instagram.com/{{ site.instagram_username }}" class="instagram"></a></li>
          <li><a href="http://www.twitter.com/{{ site.twitter_username }}" class="twitter"></a></li>
        </ul>
      </div>
      <ul class="footer-links column small-3">
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe via RSS</a></li>
      </ul>
    </div>
  </div>
</footer>
