{% include post/tags.html post=post %}
<article class="blog-entry">
  <div class='row collapse'>
    <img src="{{ site.baseurl }}/post_images/{{ post.excerpt-image }}" class='column medium-4'>
    <section class="blog-entry-details column medium-8">
      <h2>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h2>
      <p class="tags">
        {{ tags_content }}
      </p>
      <div class="blog-excerpt">
        {{ post.excerpt }}
      </div>
    </section>
  </div>
  <a class='blog-permalink' href="{{ site.baseurl }}{{ post.url }}">Read the Full Recipe</a>
</article>
