$body-font-size: 12px;
$gutter: 20px;

$light-font: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$script-font: 'NexaRustScriptL';

// colors
$shale: #d8d5d5;
$dark: #1B1B1B;
$autumn: #a37661;
$ghost: #F8F8FF;
$body-background: $shale;
$link-color: $autumn;

p,li,ul,h1,h2,h3,h4,h5 {
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	font: 100%/1.3 Helvetica, 'Raleway';
  background: $body-background;
  color: $dark;
}

body.post {
  background: $ghost;
}

p, li {
  font-size: $body-font-size;
}

a, a:link, a:visited {
  color: $autumn;
  text-decoration: none;
}

a:hover {
  color: lighten($autumn, 10%);
}

@font-face {
font-family: NexaRustScriptL;
src: url(../fonts/nexarust/NexaRustScriptL-0.ttf);
}

h1, nav h2, .instruction-header dl, dt, .blog-preview a {
	font-family: NexaRustScriptL;
	font-weight: normal;
}

nav {
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}

nav h2 {
	font-size: 28px;
	display: inline-block;
	float: left;
	margin: 10px 0 10px 15px;
}

nav h2, nav li, header h1, header h3 {
	color: white;
}

nav li {
	list-style: none;
	display: inline-block;
	font-size: 12px;
	padding: 0 10px;
	font-weight: bold;
}

nav a {
  &:link, &:visited, &:hover {
  	color: white;
  	text-decoration: none;
  	padding-bottom: 4px;
  	display: block;
  }
}

nav ul {
	float: right;
	margin: 20px 4px 20px 0;
}

nav .active a {
	font-weight: normal;
	border-bottom: 1px solid #fff;
}

header {
	background-image: url("../images/header.jpg");
	min-height: 200px;
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
}

.spacer {
  width: 100%;
}

.header-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.header-content-inner {
  position: relative;
  height: 100%;

  section {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .post & {
    background: rgba(0, 0, 0, 0.2);
  }
}


header .title h1 {
	font-size: 60px;
	margin-bottom: 0;
	line-height: 1;
}

// post title
header .title h2 {
  color: white;
  font-family: $light-font;
  font-size: 26px;
  font-weight: 200;
  margin-bottom: $gutter;
  padding: $gutter * 2 $gutter 0 $gutter;
}

header .title h3 {
	text-transform: uppercase;
	font-size: 13px;
}

header .tags, header .tags a {
  color: white;
}

article .date {
	color: #A9A9A9;
}

article .keywords {
	color: #A37661;
}

.blog-entries {
  p {
    font-size: 16px;
  }

  .blog-entry {
    background: #faf7f7;
    box-shadow: 1px 1px 1px rgba(darken($shale, 20%), .4);
    margin-bottom: $gutter;
    position: relative;
  }

  .row.collapse > .blog-entry-details.column {
    padding: $gutter $gutter $gutter * 3 $gutter;
  }

  .blog-entry-details h2 {
    font-family: $light-font;
    font-weight: 200;
    margin-bottom: $gutter / 2;

    a {
      color: $dark;
    }
  }

  .tags {
    margin-bottom: $gutter;
    padding-bottom: $gutter;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 23%;
      content: '';
      background: $shale;
      height: 1px;
    }
  }

  .blog-permalink {
    color: #A37661;
    font-family: $script-font;
    font-size: 21px;
    background: url("../images/fork.jpg") no-repeat right 10px;
    display: inline-block;
    padding-right: 42px;
    position: absolute;
    bottom: $gutter;
    right: $gutter;
  }
}

.blog-entry-header {
	margin-bottom: 15px;
}

.blog-entry-instructions {
	margin-left: 20px;
	overflow: auto;
	margin-bottom: 5px;
}

.blog-entry-instructions dl {
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
}

.blog-entry-instructions dl dd {
	display: block;
	text-align: center;
	width: 100%;
	margin-left: 0;
	font-size: 14px;
}

.blog-entry-instructions dl dt {
	font-size: 22px;
}

.blog-entry {
	margin-bottom: 50px;
}

.blog-entries .blog-entry:last-of-type {
	margin-bottom: 25px;
}


.blog-preview {
	margin-left: 20px;
	float: left;
}

article h4 {
	font-size: 23px;
	font-weight: normal;
	margin-bottom: 5px;
}

aside h5 {
	font-size: 16px;
  font-family: $script-font;
	margin-bottom: 0;
}

aside ul {
	padding: 0;
	margin-bottom: 20px;
}

aside li {
	list-style: none;
	margin: 3px 0;
}

aside p {
	font-size: 12px;
	margin-bottom: 1px;
}

.older-posts {
	text-decoration: none;
	color: #A37661;
	font-size: 16px;
	background-image: url("../images/fork.jpg");
	background-repeat: no-repeat;
	background-position: 0px 2px;
	float: left;
	padding-left: 50px;
	display: block;
	overflow: auto;
}

footer {
	background-image: url("../images/footer-table.jpg");
	height: 150px;
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	position: relative;
	overflow: auto;
  display: table;

  .footer-container {
    display: table-cell;
    vertical-align: middle;
  }
}

.social-media li {
	list-style: none;
	text-decoration: none;
	display: inline;
	margin-right: 10px;
}

.social-media {
	padding-left: 0;
}

.social-media a {
	width: 43px;
	height: 42px;
	display: inline-block;
}

.social-media li .instagram {
	background-image: url("../images/instagram.png");
}

.social-media li .twitter {
	background-image: url("../images/twitter.png");
}

.footer-left {
	text-align: left;
	margin: 65px 0 0 15px;
	display: inline-block;
	float: left;
}

footer h2 {
  font-family: $script-font;
	font-size: 33px;
	color: white;
}

.footer-links {
	list-style: none;
	display: inline;
  padding-top: $gutter * 2;
}

.footer-links a {
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-weight: bold;
	margin-right: 15px;
}

.footer-links li {
	display: inline;
}

.blog-entry h2 {
  margin-bottom: $gutter;
}

.post-content {
  ul, ol {
    margin: 0 0 $gutter 0;
    padding-left: $gutter;
  }

  p, li {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: $gutter;
  }

  img {
    width: 100%;
    max-width: 400px;
  }

}
